.header {
  color: red;
  text-align: center;
}
.main {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
}

img {
  width: 70%;
  height: 150px;
  border-radius: 10px;
}
.card h3 {
  text-align: center;
}
.card p {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

.jugadora {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  width: 500px;
}
.jugadora img {
  width: 300px;
  border-radius: 10px;
}
.jugadora p {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}
